# Игнорирование каталога идеи
.idea/

# Игнорирование всех файлов .iml, которые содержат информацию о модуле проекта
*.iml

# Игнорирование папки out, где хранятся скомпилированные классы
/out/

# Игнорирование папки build (используется для сборки проекта, например, Maven или Gradle)
/build/

# Игнорирование системных файлов MacOS
.DS_Store

# Игнорирование файлов журналов
*.log

# Игнорирование артефактов сборки (может отличаться в зависимости от используемых сборщиков, например, Maven или Gradle)
target/
dist/
tmp/

# Игнорирование файлов среды выполнения Java (если это Java-проект)
*.class

# Игнорирование пакетов, установленных через NPM (если вы используете Node.js в своем проекте)
node_modules/

# Игнорирование временных файлов и папок
*.tmp
*.bak
*.swp

# Игнорирование личных файлов конфигурации IDE, специфичных для пользователя
*.iws
